<div class="row">
    <div class="col-2" style="background-color: rgb(223, 223, 223);">
        <h5>Room Code:</h5>
        
        <h4>Formating Options</h4>
        <Label for="exampleColorInput" style="font-size:larger;">Pick the color of the Text</Label>
        <input type="color" class="form-control-color" id="exampleColorInput" style="background-color: rgb(223, 223, 223);">
        
        <h5>Choose your Font-size:</h5>
        <br>
        <label for="large" style="font-size: large;">Large:</label>
        <input type="button" id="large">
        <br>
        <label for="medium" style="font-size: large;">Medium:</label>
        <input type="button" id="medium">
        <br>
        <label for="small" style="font-size: large;">Small:</label>
        <input type="button" id="small">
        <br>
    </div>
    <div class="col-10"><textarea class="form-control"></textarea>
    
</div>

